<h2>Superuser Dashboard</h2>
<ul>
  <li><a href="/admin/users/new">Register New User</a></li>
  <li><a href="/admin/divisions/new">Create Division</a></li>
  <li><a href="/admin/assets/new">Create Asset</a></li>
  <li><a href="/admin/floors/new">Create New Floor</a></li>
  <li><a href="/admin/zones/new">Create New Zone</a></li>
</ul>
<a href="/logout">Logout</a>
